[
 {map, [
        {graph, [
                 {verticies, [a,b,c,d,e]},
                 {edges, [
                          {{a, b}, 1},
                          {{b, c}, 1},
                          {{a, d}, 1},
                          {{d, e}, 1},
                          {{b, e}, 1}
                         ]},
                 {headquarters, a}
                ]}
       ]}
].
