[
 {map, [
        {graph, [
                 {verticies, [a,b,c,d,e]},
                 {edges, [
                          {a, b},
                          {b, c},
                          {a, d},
                          {d, e},
                          {b, e}
                         ]}
                ]}
       ]}
].
