%%-*-erlang-*-
[
 {fahrradboten,
  [
   {graph,
    [
     {verticies, [a,b,c,d,e]},
     {edges,
      [
       {{a, b}, 1},
       {{b, c}, 1},
       {{a, d}, 1},
       {{d, e}, 1},
       {{b, e}, 1}
      ]
     },
     {headquarters, a}
    ]
   }
  ]
 },
 {overseer,
  [
   {messengers, [<<"0000">>, <<"0001">>, <<"0002">>, <<"0003">>, <<"0004">>]}
  ]
 },
 {exometer_core,
  [
   {predefined, [
                 {[overseer, wrkr, latency], histogram, []}
                , {[orders_srv, total_ids], {function, orders_srv, total_ids, [], value,
                                     []}, []}
                , {[erlang, memory], {function, erlang, memory, [], proplist,
                                     [total, processes, ets, binary, atom, atom_used]}, []}
                , {[erlang, statistics], {function, erlang, statistics, ['$dp'], value,
                                          [run_queue]},
                   []}
                , {[erlang, system_info], {function, erlang, system_info, ['$dp'], value,
                                           [port_count, port_limit, process_count, process_limit]},
                   []}
                ]
   },
   {report, [
             {reporters, [
                          {exometer_report_statsd, []}
                         ]},
             {subscribers, [
                            {exometer_report_statsd, [overseer, wrkr, latency],
                             [max, min, mean, median, 50, 75, 90, 95, 97, 99, 999, n], 15000},
                            {exometer_report_statsd, [orders_srv, total_ids], [], 15000},
                            {exometer_report_statsd, [erlang, memory], [], 15000},
                            {exometer_report_statsd, [erlang, statistics], [run_queue], 15000},
                            {exometer_report_statsd, [erlang, system_info],
                             [port_count, port_limit, process_count, process_limit], 15000}
                           ]}
            ]}
  ]}
].
